.projects {
  padding: 2rem;
  text-align: center;
}

.project-item {
  border: 2px solid #ccc;
  padding: 1rem;
  margin: 0 auto;
  max-width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 50%;
  height: 50vh;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  color: #000;
}
